<html>
    <head>
        <title>LUNCHIN'</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <style type="text/css">
            body{
             
                background-image:url("https://data.whicdn.com/images/74576880/superthumb.jpg?t=1377496888");
       
            }
            .container{
                border-radius: 5px;
  background-color: #f2f2f2;
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
   margin-left: auto;
    margin-right: auto;
  width: 50%;
  
  padding: 10px; 

 
  right: 0;
  
            }
        </style>
    </head>
     <body>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Add a new dish</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/Currentdishes" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image url">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="price" placeholder="price">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            
        </div>
    </div>
</div>
        
    </body>
</html>
