<html>
    <head>
        <title>LUNCHIN'</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/partner.css"> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <style type="text/css">
            body{
                background-color:#FFFF66;
            }
        </style>
     
    </head>
    <body>
     <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="/">LUNCHIN'!</a>
          </div>
           <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                 
                  
                
               </ul>
               
           </div>
      </div>
    
</nav>
 
 
 
  <div class="centered">
      <img src="https://cdn.pixabay.com/photo/2016/05/30/14/10/delivery-guy-1424808__340.png" alt="Avatar woman">
    
    <h1>DELIVER!</h1>
     <a type="button" href="/deli_login"><b>LOGIN</b></a>
     <br/>
    <a type="button" href="/deliregister"><b>SIGNUP</b></a>
  </div>

  




 
   
<% include partials/footer %>
    
    
    
    