<% include ./partials/header %>
<br/><br/><br/><br/>

<div class="container">
<br/><br/>  
<h1 class="a">LOGIN</h1>

<form action="/login" method="POST" class="form">
    <label>
        Username:
    <input type="text" name="username" placeholder="username">
    </label>
    <label>
        Password:
    <input type="password" name="password" placeholder="password">
    </label>
    <button>login</button>
</form>
</div>

<% include ./partials/footer %>