body {
  background-color: #fff;
  background-image: url(https://userscontent2.emaze.com/images/81191429-0927-47ee-b09f-328c2e357da1/62ead03d2a9a1fdafa7be768efd3a411.jpg);
  background-repeat:no-repeat;
   height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
 
  background-size: cover;
}
label, input {
    display: block;
    
}


.a
{
   font-size: 60px;
  text-align: center;
}
.b{
   margin-left: 280px;
    margin-right: auto;
    width: 8em
}
.container {
 
  border-radius: 5px;
  background-color: #f2f2f2;
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
   margin-left: auto;
    margin-right: auto;
  width: 50%;
  
  padding: 10px; 

 
  right: 0;
  
  
} 
#landing-header {
  z-index: 1;
 
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #000;
  font-size: 70px;
}

#menu-header h1 {
  color: #000;
  font-size: 50px;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; /*this will allow images to fade in and out */
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.unsplash.com/photo-1543352634-a1c51d9f1fa7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.unsplash.com/photo-1534237863411-31a53eecfc7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  animation-delay: 5s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.unsplash.com/photo-1481931098730-318b6f776db0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  animation-delay: 10s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.unsplash.com/photo-1546793665-c74683f339c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  animation-delay: 20s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.unsplash.com/photo-1545062960-d98523a1d0ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  animation-delay: 30s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

